@using System.Linq
@using DabHandIn2.Controllers
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DabHandIn2.Models.Course

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Course Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <br />
                <h3>Teachers</h3>
                
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            AU ID
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var teacher in Model.Teachers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => teacher.auId)
                            </td>
                            <td>
                                @Html.DisplayFor(model => teacher.Name)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-controller="Teachers" asp-action="Create">Add Teacher</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

